*{
	padding:0;
	margin:0;
	font-family: "Microsoft Yahei";
}
body{
	background-color: #DEDEDE;
}
header{
	background-color: #333333;
	height: 60px;
}
header img{
	float: left;
	width: 150px;
	margin-top:-20px;
	margin-left:20px;
}
#nav ul{
	float:right;
	list-style-type: none;
	margin-top:16px;
	margin-right:8px;
}
#nav li{
    display: inline;
    color: #FFFFFF;
    margin:16px 10px;
}
#nav a{
	    text-decoration: none;
        color:#FFFFFF;
}
#nav a:visited{
	color: #FFFFFF;
}
#nav a:hover{
	color: #DEDEDE;

}
#article-1{
	clear: both;
}
article{
	margin: 18px 40px;
	padding:40px 20px;
	background-color: #FFFFFF;
	display: block；
	box-shadow: 2px 2px 2px #aaa;

}
.title1{
	font-size: 1.5em;
	line-height: 20px;
	margin-bottom: 20px;
}
.title2{
	font-size: 1.2em;
	color:#8A8A8C;
	margin:16px 0;
}
p{
	text-indent: 40px;
	font-size: 16px;
}
.articleinfo{
	display: block;
	margin-bottom: 20px;
}
.author,.time{
	margin: 22px 0;
	font-size: 14px;
	color: #8A8A8C;
}
article ul{
	list-style-type: none;
	margin-left: 20px;
	margin-top: 12px;
}
article li{
	margin:12px 0;
}
section.favpics{
		margin: 18px 40px;
	padding:40px 20px;
	background-color: #FFFFFF;
	display: block；
	box-shadow: 2px 2px 2px #aaa;
}
section.favpics figure{
	padding:10px;
	margin-left:32px;
	margin-bottom: 20px;
	margin-top:20px;
	border:1px solid #DEDEDE;
	width: 100px;
}
figcaption{
	text-align: center;
	font-size: 13px;
	margin-bottom: 8px;
}
figure img{
	width: inherit;
}
.form{
	margin: 18px 40px;
	padding:40px 20px;
	background-color: #FFFFFF;
	display: block；
	box-shadow: 2px 2px 2px #aaa;
}
.form table{
	padding:10px 20px;
}
.form ol{
	display: block;
	padding: 12px 40px;
}
.form table{
	width:100%;
}
.form table,th,td{
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	text-align: left;

}
.form th{
	background-color: #333333;
	color: white;
}
.form .total{
	background-color: #CCCCCC;
}
aside{
	margin: 18px 40px;
	padding:40px 20px;
	background-color: #FFFFFF;
	display: block；
	box-shadow: 2px 2px 2px #aaa;
}
aside h1{
	text-indent: 12px;
	border-left: 4px solid #CCCCCC;

}
aside tr
{
	border: none;
}
footer{
	height: 60px;
	background-color: #333333;
}
footer span{
	display: block;
	font-size: 10px;
	color: #FFFFFF;
	width:100%;
	text-align: center;
	line-height: 60px;


}
#submit{
	width: 100%;
	background-color: #3355D0;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	color: #FFFFFF;
}