div{
	display: block;
}
#content{
	margin:20px;
	padding:20px;
	height: auto;
	overflow: auto;
	width: 95%;
	min-height: 200px;
	background-color: #eee;
	border:1px solid #999;
}
#l_side{
	border:1px solid #999;
	width: 160px;
	min-height: 100px;
	background-color: #fff;
	float: left;
	padding:20px;
}
#teamname{
	float: right;
	font-size: 14px;
}
#m_page{
	width: auto;
	min-height: 100px;
	border:1px solid #999;
	margin-left:220px;
	margin-right: 140px;
	background-color: #fff;
	padding: 20px;
}
#m_page h1{
	margin: 20px;
}
#m_page p{
	text-indent: 40px;
}
#r_side{
	float: right;
	border:1px solid #999;
	width: 80px;
	min-height: 100px;
	background-color: #fff;
	padding: 20px;
	}
.logo{
	width: 80px;
	height: 80px;
	border:1px solid #999;
}
.logo1{
	width: 80px;
	height: 80px;
	border:1px solid #999;
	margin-bottom: 20px;
}
.logo2{
	width: 80px;
	height: 80px;
	border:1px solid #999;
	margin-bottom: 20px;
}
.logo3{
	width: 80px;
	height: 80px;
	border:1px solid #999;
	margin-bottom: 20px;
}
.logo4{
	width: 80px;
	height: 80px;
	border:1px solid #999;
}